In [49]:
import csv
students=[]
with open("students.csv",'r') as csv_file:
    csv_reader= csv.reader(csv_file)
    
    
    for line in csv_reader:
        print(tuple(line))
        students.append(tuple(line))
        
students=students[1:9]

('id', 'first_name', 'last_name', 'date_of_birth', 'ethnicity', 'gender', 'status', 'hs_gpa', 'hs_city', 'hs_state', 'hs_zip', 'email', 'entry_age', 'ged', 'english_2nd_language')
('111111', 'John', 'Doe', 'Jan-00', 'Hispanic', 'M', 'FT', '2.71', 'Albuquerque', 'New Mexico', '87112', 'jdoe@example.com', '17.9', 'FALSE', 'FALSE')
('111112', 'Jane', 'Smith', 'May-01', 'Hispanic', 'F', 'TRANSFER', '3.73', 'New York', 'New York', '10009', 'jsmith@example.com', '18.1', 'FALSE', 'FALSE')
('111113', 'Sarah', 'Thomas', '21/2002', 'Hispanic', 'M', 'FTFT', '2.64', 'Pheonix', 'Arizona', '85006', 'sthomas@example.com', '17.6', 'FALSE', 'FALSE')
('111114', 'Frank', 'Brown', '13/2002', 'Race/ethnicity unknown', 'M', 'FTFT', '3.68', 'Pheonix', 'Arizona', '85015', 'fbrown@example.com', '19', 'TRUE', 'FALSE')
('111115', 'Mike', 'Davis', '31/2001', 'White', 'F', 'FTFT', '3.46', 'Seattle', 'Washington', '98106', 'mdavis@example.com', '18.2', 'FALSE', 'TRUE')
('111116', 'Jennifer', 'Wilson', 'Jan-02', 'Asian', 'M', 'TRANSFER', '4.24', 'Denver', 'Colorado', '80012', 'jwilson@example.com', '18.5', 'TRUE', 'FALSE')
('111117', 'Jessica', 'Garcia', 'Jan-00', 'White', 'F', 'FTFT', '', 'Austin', 'Texas', '78703', 'jgarcia@example.com', '18.8', 'FALSE', 'FALSE')
('111118', 'Fred', 'Clark', '17/1999', 'Hispanic', 'F', 'FTGRAD', '2.54', 'Denver', 'Colorado', '80033', 'fclark@example.com', '19.2', 'FALSE', 'TRUE')
('111119', 'Bob', 'Lopez', 'Apr-98', 'White', 'F', 'FTFT', '3.24', 'Denver', 'Colorado', '80122', 'blopez@example.com', '18.5', 'FALSE', 'FALSE')

In [41]:
import sqlite3 as sq3
conn= sq3.connect('student3.db')
cursor = conn.cursor()

cursor.execute("""CREATE TABLE students(id INT ,first_name TEXT PRIMARY KEY, last_name TEXT, date_of_birth TEXT, ethnicity TEXT, gender TEXT, stats TEXT , hs_gpa FLOAT, hs_city TEXT, hs_state TEXT, hs_zip INT, email TEXT, entry_age FLOAT , ged BOOLEAN , english_2nd_language BOOLEAN)""")
conn.close()

In [50]:
with sq3.connect('student3.db') as conn:
    cursor= conn.cursor()
    cursor.executemany(
        """INSERT INTO students VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?) """,students
        )

In [51]:
with sq3.connect('student3.db') as conn:
    cursor= conn.cursor()
    result=cursor.execute(
        """SELECT * FROM students  """
    )
    print(list(result))

[(111111, 'John', 'Doe', 'Jan-00', 'Hispanic', 'M', 'FT', 2.71, 'Albuquerque', 'New Mexico', 87112, 'jdoe@example.com', 17.9, 'FALSE', 'FALSE'), (111112, 'Jane', 'Smith', 'May-01', 'Hispanic', 'F', 'TRANSFER', 3.73, 'New York', 'New York', 10009, 'jsmith@example.com', 18.1, 'FALSE', 'FALSE'), (111113, 'Sarah', 'Thomas', '21/2002', 'Hispanic', 'M', 'FTFT', 2.64, 'Pheonix', 'Arizona', 85006, 'sthomas@example.com', 17.6, 'FALSE', 'FALSE'), (111114, 'Frank', 'Brown', '13/2002', 'Race/ethnicity unknown', 'M', 'FTFT', 3.68, 'Pheonix', 'Arizona', 85015, 'fbrown@example.com', 19.0, 'TRUE', 'FALSE'), (111115, 'Mike', 'Davis', '31/2001', 'White', 'F', 'FTFT', 3.46, 'Seattle', 'Washington', 98106, 'mdavis@example.com', 18.2, 'FALSE', 'TRUE'), (111116, 'Jennifer', 'Wilson', 'Jan-02', 'Asian', 'M', 'TRANSFER', 4.24, 'Denver', 'Colorado', 80012, 'jwilson@example.com', 18.5, 'TRUE', 'FALSE'), (111117, 'Jessica', 'Garcia', 'Jan-00', 'White', 'F', 'FTFT', '', 'Austin', 'Texas', 78703, 'jgarcia@example.com', 18.8, 'FALSE', 'FALSE'), (111118, 'Fred', 'Clark', '17/1999', 'Hispanic', 'F', 'FTGRAD', 2.54, 'Denver', 'Colorado', 80033, 'fclark@example.com', 19.2, 'FALSE', 'TRUE')]