## List

In [7]:
nums= [23,  44 ,12 , 5 ,6 ,7, 768,4 ]
type(nums)

44

In [15]:
#Slicing
nums[3]
nums[-4]
nums[1:8:2]
nums[::-1]

[4, 768, 7, 6, 5, 12, 44, 23]

In [20]:
nums[-1]= 'John Cena'
nums[4:7] = -5, -6 , -7

nums

[23, 44, 12, 5, -5, -6, -7, 'John Cena']

In [32]:
#listmethods
nums = [23, 44, 12, 5, -5, -6, -7, 'John Cena']
nams= ['bleh', 'dong', 'boom']
nums.append(99)
nums.insert(0,-99)
nums.extend(nams)
nums.index('John Cena')
nums.count(-7)

1

In [2]:
nums=[2, 23 ,53 ,1, 21, 923 ,34]
nums.sort()

In [40]:
data=nums.copy()
data.append("yellow")
nums

[1, 2, 21, 23, 34, 53, 923, 'Shallow']

In [3]:
nums

[1, 2, 21, 23, 34, 53, 923]

In [4]:
nums.add(45)

AttributeError: 'list' object has no attribute 'add'

In [5]:
nums

[1, 2, 21, 23, 34, 53, 923]

In [6]:
nums={1,2,3,4,5}

In [7]:
nums.add(45)

In [8]:
nums

{1, 2, 3, 4, 5, 45}

In [11]:
nums.update({66,77,88,0})

In [12]:
nums

{0, 1, 2, 3, 4, 5, 45, 66, 77, 88}

In [15]:
s1={2,3,4,5,7,6}
s2={4,5,6,11,12,14}
s3=s1.union(s2)
s3

{2, 3, 4, 5, 6, 7, 11, 12, 14}

In [18]:
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
s1

{2, 3, 4, 5, 6, 7}

# Dictionary{Key:values}

In [23]:
s={"roll":1, 'name':"john", 'age':26}
s['roll']=28
s

{'roll': 28, 'name': 'john', 'age': 26}

In [21]:
s['roll']

1

In [24]:
2==3

False

In [25]:
2!=3

True

In [31]:
# Logical Operators
False and False
True and True
not True

False

In [33]:
age = 20
s= 42000
age>18 and s>40000

True

In [40]:
#Assignment Operator

num =2
num -= 5
num *= -4
num

12

# Conditional Statement

In [2]:
age = 18
salary= 50000
if age>=18:
    if salary > 2000000:
       print("Eligible for diamond credit card")
    elif salary>100000:
        print("Eligible for gold credit card")
    elif salary>40000:
        print("Eligible for platinum credit card")
    else:
        print("Eligible for Credit card")
   
elif age>=14:
    print("Eligible for junior account")
else:
    print("Not Eligible")

Eligible for platinum credit card

In [4]:
num=4
value= num**2 if num%2==0 else num**3
value

16

In [3]:
square= []
start = 1
stop = 15
num = start
while num  <= stop:
    s= num**2
    num=num+1
    if s>50:
        continue
    square.append(s)  
   
square

[1, 4, 9, 16, 25, 36, 49]

In [4]:
for alpha in "Python":
    print(alpha)

P
y
t
h
o
n

In [7]:
for s in {1, 2 ,6 ,4 ,5}:
    print(s)

1
2
4
5
6

In [9]:
for key, value in {1:1,2:4,3:9}.items():
    print(key, '=>',value)

1 => 1
2 => 4
3 => 9

In [27]:
data =[
    [2,3,4],
    [5,2,3],
    [4,6,9]
]
for row in data:
    
      print(row)

[2, 3, 4]
[5, 2, 3]
[4, 6, 9]

In [17]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
powers=[]
for num in range(1,10):
    if num%2==0:
        powers.append(num**2)
    else:
        powers.append(num**3)
powers

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [22]:
powersList=[num**2 if num%2==0 else num**3 for num in range(1,10)]
powersList

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [23]:
powersList=[num**2 + num**3 for num in range(1,10)]
powersList

[2, 12, 36, 80, 150, 252, 392, 576, 810]

In [28]:
mdata= [[col**2 for col in row] for row in data]
mdata

[[4, 9, 16], [25, 4, 9], [16, 36, 81]]

In [31]:
powerD= {num: num**2 if num%2==0 else num**3 for num in range(1,10)}
powerD

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729}

# Smart Door | password = 'open@'
- That should take password from user
-  Match the password | Show wrong password, Try again or Door is opening.
-  maximum try is 3
-  ask for security question's answer| fav_color = 'black'
- if security answer is correct then help user to reset password
- otherwise lock door

In [32]:
def greet():
    print("Good Morning")
    print("Welcome to Python!")

In [33]:
greet()

Good Morning
Welcome to Python!

In [52]:
def is_even(nums: list) -> list:
    
    """ 
    
    This will check given number num is even or odd, respectively True or False
    """
    r=[]
    for num in nums:
      if num%2==0:
         r.append(True)
      else:
         r.append(False)
    return r

In [53]:

r= is_even([2,3,4,5,6,78])
r

[True, False, True, False, True, True]

In [54]:
def login(username, email, password):
    print("Username", username)
    print("email:",email)
    print("Password",password)

In [55]:
login("@john","john@gmail.com", "234343")

Username @john
email: john@gmail.com
Password 234343

In [63]:
def login(**kwargs):
    for key,val in kwargs.items():
       print(key,":", val)

In [65]:
login(email="john@gmail.com",username="@john",password="23423",ph="016942069")

email : john@gmail.com
username : @john
password : 23423
ph : 016942069